$main-color = #CCCCCC;
$light-color = #FFFFFF;

body {
  font-family: arial;
  font-size: 18px;
  background-color: $main-color;
}

.container {
  background-color: $light-color;
  padding: 10px;
  height: 500px;
}
