<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ExamplesProject</title>
  <script type="text/javascript" src="js/ext/modernizr/2.7.1/modernizr.js"></script>
  <script type="text/javascript">
    console.log("media query supported: " + Modernizr.mq('only all'));
  </script>
  <script type="text/javascript" src="js/index.js"></script>
  <link href="css/main.css" rel="stylesheet">
</head>
<body>
  {{{body}}}
</body>
</html>