<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ExamplesProject</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="css/main.css" rel="stylesheet">
  <script type="text/javascript" src="lib/modernizr/2.7.1/modernizr.js"></script>
  <script type="text/javascript">
    console.log("media query supported: " + Modernizr.mq('only all'));
  </script>
</head>
<body>
  {{{body}}}
</body>
</html>